Source: arandr
Section: x11
Priority: extra
Maintainer: Christian M. Amsüss <chrysn@fsfe.org>
Build-Depends: debhelper (>= 5), python, gettext
Standards-Version: 3.7.3

Package: arandr
Architecture: all
Depends: python, x11-xserver-utils | xrandr
Description: Simple visual front end for XRandR 1.2
 ARandR is a visual front end for XRandR 1.2 (per display options), which
 provides full controll over positioning, saving and loading to/from shell
 scripts and easy integration with other applications.
