#!/usr/bin/make -f

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	./setup.py build

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f *.pyc */*.pyc */*/*.pyc
	rm -f *~ ../*/*~ ../*/*/*~
	rm -rf build 

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	./setup.py install --root $(CURDIR)/debian/arandr --no-compile install
	cp distrib/arandr.desktop $(CURDIR)/debian/arandr/usr/share/applications/
	cp debian/copyright $(CURDIR)/debian/arandr/usr/share/doc/arandr/

	#dh_installman distrib/arandr.1.gz


binary-indep: build install
binary-arch: build install

binary: binary-indep binary-arch
	dh_gencontrol
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install configure
