#!/usr/bin/make -f

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# man page could be built here, but rst2man not packaged
	gzip -9 -c distrib/arandr.1 > distrib/arandr.1.gz

	# crude
	msgfmt distrib/po/de.po -o distrib/po/de.mo

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f *.pyc */*.pyc */*/*.pyc
	rm -f *~ ../*/*~ ../*/*/*~
	rm -f distrib/arandr.1.gz
	rm -rf build 
	rm -rf arandr.egg-info

	# crude
	rm -f distrib/po/*.mo

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	./setup.py install --root $(CURDIR)/debian/arandr --no-compile install
	cp distrib/arandr.desktop $(CURDIR)/debian/arandr/usr/share/applications/
	cp debian/copyright $(CURDIR)/debian/arandr/usr/share/doc/arandr/

	# crude
	mkdir -p $(CURDIR)/debian/arandr/usr/share/locale/de/LC_MESSAGES/
	cp distrib/po/de.mo $(CURDIR)/debian/arandr/usr/share/locale/de/LC_MESSAGES/arandr.mo

	dh_installman distrib/arandr.1.gz


binary-indep: build install
binary-arch: build install

binary: binary-indep binary-arch
	dh_gencontrol
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install configure
